In [5]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta

In [66]:
fake = Faker('ko_KR')

In [151]:
special_request_list = ["추가 베개를 몇 개 더 받을 수 있을까요?",
"조식 서비스에 대한 정보를 알려주실 수 있나요?",
"객실 내 와이파이 비밀번호를 알려주실 수 있나요?",
"체크아웃 연장이 가능한지 궁금합니다.",
"룸 서비스 메뉴를 볼 수 있을까요?",
"추가 타월을 요청하고 싶습니다.",
"객실 청소를 부탁드릴 수 있나요?",
"헤어드라이어를 빌릴 수 있나요?",
"주차 공간이 있는지 알고 싶습니다.",
"택시를 불러주실 수 있나요?",
"객실 내 온도 조절이 가능한가요?",
"안전 금고 사용 방법을 알려주실 수 있나요?",
"근처 추천 관광지가 있나요?",
"객실 내 다리미와 다리미판을 요청하고 싶습니다.",
"아기 침대를 제공받을 수 있나요?",
"알레르기가 있는데, 베개에 사용된 소재를 알 수 있을까요?",
"조용한 방으로 변경이 가능할까요?",
"객실 내 미니바 이용 방법을 알려주세요.",
"아침에 일찍 깨우는 서비스를 요청하고 싶습니다.",
"숙소 내 피트니스 센터 이용 가능 여부를 알고 싶습니다.",
"조식 포함 요청합니다.",
"초고속 인터넷 접속을 원합니다.",
"객실 내 에스프레소 머신을 요청합니다.",
"객실에 알러지 방지 침구를 제공해 주세요.",
"늦은 체크아웃을 요청합니다.",
"객실 내 발코니를 원합니다.",
"숙소 내 피트니스 프로그램에 참여하고 싶습니다.",
"베이비시팅 서비스를 이용하고 싶습니다.",
"객실 내 흡연 가능 여부를 확인합니다.",
"채식주의자 식단을 준비해 주세요.",
"공항에서 숙소까지의 교통편을 알려주세요.",
"객실 내 다국어 TV 채널을 요청합니다.",
"객실 내 미니바 비우기를 요청합니다.",
"스파와 웰니스 시설 이용을 원합니다.",
"객실에 추가 베개를 제공해 주세요.",
"객실 내 조명 시스템을 조절할 수 있게 해주세요.",
"숙소 내 문화 행사 정보를 알려주세요.",
"객실 내 커피와 차 세트를 요청합니다.",
"아동 친화적인 TV 프로그램과 게임을 제공해 주세요.",
"객실 내 개인 요가 세션을 예약하고 싶습니다.",
"해변가 객실을 선호합니다.",
"한라산 전망이 보이는 객실을 요청합니다.",
"제주 올레길 트레킹 가이드 서비스를 원합니다.",
"제주 전통 음식을 포함한 식사 옵션을 추가해 주세요.",
"객실에서 바비큐 시설을 이용하고 싶습니다.",
"자전거 대여 서비스를 요청합니다.",
"유네스코 세계 유산 탐방 투어 예약을 도와주세요.",
"객실 내 제주 특산품 미니바를 요청합니다.",
"수중 스포츠 장비 대여를 원합니다.",
"제주 해녀 문화 체험을 예약하고 싶습니다.",
"객실에 제주 허브 아로마 테라피 세트를 추가해 주세요.",
"제주 돌하르방 조각품 전시가 있는 객실을 원합니다.",
"객실에서 제주 오름 전망을 즐길 수 있게 해주세요.",
"제주 전통 차 시음을 체험하고 싶습니다.",
"객실에 제주 섬 실내 장식을 반영해 주세요.",
"제주 생태계 탐방 가이드를 요청합니다.",
"야외 수영장에서 제주 해변을 바라보며 수영하고 싶습니다.",
"제주 섬의 별빛 관측 투어를 예약하고 싶습니다.",
"객실 발코니에 제주 돌담 디자인을 추가해 주세요.",
"제주 전통 공예품 만들기 체험을 원합니다."
]

In [402]:
def generate_fake_reservation():
    check_in_date = fake.date_between(start_date='-1M', end_date='+3M')
    check_out_date = check_in_date + timedelta(days=random.randint(1, 30))  # 체크아웃은 체크인 후 1~30일 이내
    booking_date = fake.date_time_between(start_date='-1y', end_date=check_in_date)
    payment_status = random.choice(['paid', 'unpaid'])
    
    return {
        'room_seq': random.randint(1, 508),
        'user_seq': random.randint(1, 508),
        'check_in_date': check_in_date,
        'check_out_date': check_out_date,
        'adult_guest_count': random.randint(1, 4),
        'child_guest_count': random.randint(0, 3) if random.choice([True, False]) else 0,
        'reservation_status': random.choice(['confirmed', 'cancelled']) if payment_status == "paid" else random.choice(['pending', 'cancelled']),
        'booking_date': booking_date,
        'payment_status': payment_status,
        'special_requests': random.choice(special_request_list) if random.choice([True, False]) else None
    }

In [412]:
generate_fake_reservation()

{'room_seq': 451,
 'user_seq': 64,
 'check_in_date': datetime.date(2024, 5, 2),
 'check_out_date': datetime.date(2024, 5, 20),
 'adult_guest_count': 2,
 'child_guest_count': 3,
 'reservation_status': 'confirmed',
 'booking_date': datetime.datetime(2023, 5, 2, 14, 50, 50, 171345),
 'payment_status': 'paid',
 'special_requests': None}

In [413]:
fake_reservations = [generate_fake_reservation() for _ in range(10000)]
df_reservations = pd.DataFrame(fake_reservations)
print(df_reservations.head())

   room_seq  user_seq check_in_date check_out_date  adult_guest_count  \
0       179        58    2024-05-17     2024-05-18                  4
1       285       269    2024-04-21     2024-05-10                  3
2       180       431    2024-04-24     2024-05-23                  2
3       368       469    2024-03-26     2024-03-28                  4
4       187       477    2024-04-09     2024-04-30                  2

   child_guest_count reservation_status               booking_date  \
0                  1          cancelled 2023-12-01 15:09:12.693905
1                  0            pending 2023-04-10 07:16:04.531419
2                  3            pending 2023-11-25 00:22:27.621466
3                  0          cancelled 2023-06-09 06:43:53.631413
4                  0          cancelled 2023-11-03 05:17:06.526058

  payment_status        special_requests
0           paid   제주 생태계 탐방 가이드를 요청합니다.
1         unpaid  제주 전통 차 시음을 체험하고 싶습니다.
2         unpaid     주차 공간이 있는지 알고 싶습니다.
3           paid     객실에 추가 베개를 제공해 주세요.
4           paid   객실 내 커피와 차 세트를 요청합니다.

In [417]:
room = pd.read_csv("room_info_v2.csv", index_col=0).reset_index(drop=True)[["room_seq", "stay_seq", "min_people", "max_people"]]
room

     room_seq  stay_seq  min_people  max_people
0         508        84           2           6
1         507        84           2           6
2         506       214           2           6
3         505       214           2           6
4         504       214           2           6
..        ...       ...         ...         ...
503         5         2           2           6
504         4         2           2           6
505         3         1           2           5
506         2         1           2           5
507         1         1           2           5

[508 rows x 4 columns]

In [418]:
result = pd.merge(df_reservations, room, on=["room_seq"], how="inner")
result

,room_seq,user_seq,check_in_date,check_out_date,adult_guest_count,child_guest_count,reservation_status,booking_date,payment_status,special_requests,stay_seq,min_people,max_people
0,179,58,2024-05-17,2024-05-18,4,1,cancelled,2023-12-01 15:09:12.693905,paid,제주 생태계 탐방 가이드를 요청합니다.,78,2,6
1,285,269,2024-04-21,2024-05-10,3,0,pending,2023-04-10 07:16:04.531419,unpaid,제주 전통 차 시음을 체험하고 싶습니다.,121,2,4
2,180,431,2024-04-24,2024-05-23,2,3,pending,2023-11-25 00:22:27.621466,unpaid,주차 공간이 있는지 알고 싶습니다.,78,2,6
3,368,469,2024-03-26,2024-03-28,4,0,cancelled,2023-06-09 06:43:53.631413,paid,객실에 추가 베개를 제공해 주세요.,157,2,4
4,187,477,2024-04-09,2024-04-30,2,0,cancelled,2023-11-03 05:17:06.526058,paid,객실 내 커피와 차 세트를 요청합니다.,80,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,150,365,2024-05-04,2024-05-06,2,3,cancelled,2023-03-17 12:59:28.313964,paid,해변가 객실을 선호합니다.,64,3,12
9996,335,29,2024-04-03,2024-04-09,3,0,cancelled,2024-01-16 10:26:00.085287,unpaid,None,147,2,5
9997,143,338,2024-04-19,2024-05-10,4,1,pending,2023-12-10 01:47:19.201007,unpaid,None,58,2,6
9998,225,459,2024-04-30,2024-05-18,3,3,cancelled,2024-01-23 03:10:39.307078,unpaid,None,97,2,4
9999,487,3,2024-03-12,2024-03-17,4,2,pending,2023-03-26 09:46:05.457329,unpaid,None,207,2,5

In [419]:
# 최소 최대 인원 조건에 맞지 않을 경우 해결
def adjust_guest_counts(row):
    min_people = row['min_people']
    max_people = row['max_people']
    total_guests = row['adult_guest_count'] + row['child_guest_count']
    if total_guests < min_people:
        row['adult_guest_count'] = min_people - row['child_guest_count']
    elif total_guests > max_people:
        row['child_guest_count'] = max_people - row['adult_guest_count']
    return row

# Apply the adjustments across the DataFrame
result = result.apply(adjust_guest_counts, axis=1)

In [420]:
result

,room_seq,user_seq,check_in_date,check_out_date,adult_guest_count,child_guest_count,reservation_status,booking_date,payment_status,special_requests,stay_seq,min_people,max_people
0,179,58,2024-05-17,2024-05-18,4,1,cancelled,2023-12-01 15:09:12.693905,paid,제주 생태계 탐방 가이드를 요청합니다.,78,2,6
1,285,269,2024-04-21,2024-05-10,3,0,pending,2023-04-10 07:16:04.531419,unpaid,제주 전통 차 시음을 체험하고 싶습니다.,121,2,4
2,180,431,2024-04-24,2024-05-23,2,3,pending,2023-11-25 00:22:27.621466,unpaid,주차 공간이 있는지 알고 싶습니다.,78,2,6
3,368,469,2024-03-26,2024-03-28,4,0,cancelled,2023-06-09 06:43:53.631413,paid,객실에 추가 베개를 제공해 주세요.,157,2,4
4,187,477,2024-04-09,2024-04-30,2,0,cancelled,2023-11-03 05:17:06.526058,paid,객실 내 커피와 차 세트를 요청합니다.,80,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,150,365,2024-05-04,2024-05-06,2,3,cancelled,2023-03-17 12:59:28.313964,paid,해변가 객실을 선호합니다.,64,3,12
9996,335,29,2024-04-03,2024-04-09,3,0,cancelled,2024-01-16 10:26:00.085287,unpaid,None,147,2,5
9997,143,338,2024-04-19,2024-05-10,4,1,pending,2023-12-10 01:47:19.201007,unpaid,None,58,2,6
9998,225,459,2024-04-30,2024-05-18,3,1,cancelled,2024-01-23 03:10:39.307078,unpaid,None,97,2,4
9999,487,3,2024-03-12,2024-03-17,4,1,pending,2023-03-26 09:46:05.457329,unpaid,None,207,2,5

In [ ]:
result.drop(columns=["min_people", "max_people"])

In [425]:
result = result.sort_values(by="booking_date").reset_index(drop=True)
result

,room_seq,user_seq,check_in_date,check_out_date,adult_guest_count,child_guest_count,reservation_status,booking_date,payment_status,special_requests,stay_seq
0,76,71,2024-04-18,2024-05-13,2,0,cancelled,2023-02-26 18:07:15.911917,paid,None,35
1,452,290,2024-03-09,2024-04-03,2,0,pending,2023-02-26 20:22:24.906199,unpaid,None,193
2,504,163,2024-01-31,2024-02-28,2,0,cancelled,2023-02-26 21:58:51.457550,unpaid,객실 내 흡연 가능 여부를 확인합니다.,214
3,321,22,2024-04-12,2024-04-16,3,0,cancelled,2023-02-27 00:00:02.393529,paid,None,142
4,286,16,2024-05-24,2024-05-25,2,0,cancelled,2023-02-27 00:19:25.991287,paid,None,122
...,...,...,...,...,...,...,...,...,...,...,...
9995,287,470,2024-05-21,2024-06-11,2,0,cancelled,2024-05-19 04:58:16.109205,unpaid,None,122
9996,69,308,2024-05-23,2024-06-20,4,0,cancelled,2024-05-19 10:36:12.119270,paid,초고속 인터넷 접속을 원합니다.,34
9997,6,263,2024-05-22,2024-05-30,4,0,cancelled,2024-05-20 15:04:14.550080,paid,None,2
9998,378,450,2024-05-26,2024-05-28,2,0,cancelled,2024-05-23 19:38:49.081032,unpaid,None,160
9999,180,64,2024-05-26,2024-06-24,3,0,confirmed,2024-05-25 20:55:19.188686,paid,None,78

In [426]:
result.to_csv("reservation.csv")