#

In [1]:
from faker import Faker
import pandas as pd

/var/folders/hy/3gtknw3j7j1fk9gxyzh8kym80000gn/T/ipykernel_99876/1679359925.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
fake = Faker('ko-KR')
fake

In [233]:
fake.image_url(width=770, height=1500)

'https://picsum.photos/770/1500'

In [2]:
photo = pd.read_csv("YN_LDGS_PROPRERTY_PHOTO_URL_202312.csv")[["LDGS_CD", "GSRM_CD", "GSRM_IMAGE_URL"]].rename(columns={"LDGS_CD": "stay_seq", "GSRM_CD": "room_seq", "GSRM_IMAGE_URL": "room_image_url"})
photo

,stay_seq,room_seq,room_image_url
0,27341,14405,https://yaimg.yanolja.com/resize/place/v4/2017...
1,27341,14406,https://yaimg.yanolja.com/resize/place/v4/2017...
2,27341,14407,https://yaimg.yanolja.com/resize/place/v4/2017...
3,27341,14408,https://yaimg.yanolja.com/resize/place/v4/2017...
4,27341,14408,https://yaimg.yanolja.com/v5/2021/03/29/17/606...
...,...,...,...
577851,1000126662,533216,https://yaimg.yanolja.com/v5/2023/06/20/10/649...
577852,1000126662,533216,https://yaimg.yanolja.com/v5/2023/06/20/10/649...
577853,1000126663,533217,https://yaimg.yanolja.com/v5/2023/12/07/11/657...
577854,1000126663,533218,https://yaimg.yanolja.com/v5/2023/12/07/11/657...
577855,1000126663,533218,https://yaimg.yanolja.com/v5/2023/12/07/11/657...

In [3]:
photo["image_seq"] = photo.groupby(["stay_seq", "room_seq"]).cumcount() + 1
photo

,stay_seq,room_seq,room_image_url,image_seq
0,27341,14405,https://yaimg.yanolja.com/resize/place/v4/2017...,1
1,27341,14406,https://yaimg.yanolja.com/resize/place/v4/2017...,1
2,27341,14407,https://yaimg.yanolja.com/resize/place/v4/2017...,1
3,27341,14408,https://yaimg.yanolja.com/resize/place/v4/2017...,1
4,27341,14408,https://yaimg.yanolja.com/v5/2021/03/29/17/606...,2
...,...,...,...,...
577851,1000126662,533216,https://yaimg.yanolja.com/v5/2023/06/20/10/649...,2
577852,1000126662,533216,https://yaimg.yanolja.com/v5/2023/06/20/10/649...,3
577853,1000126663,533217,https://yaimg.yanolja.com/v5/2023/12/07/11/657...,3
577854,1000126663,533218,https://yaimg.yanolja.com/v5/2023/12/07/11/657...,2
577855,1000126663,533218,https://yaimg.yanolja.com/v5/2023/12/07/11/657...,3

In [34]:
room_type = pd.read_csv("YN_LDGS_ROOMTYPE_DC_202312.csv")\
.rename(columns={"LDGS_CD": "stay_seq", "LDGS_NM": "stay_name", "GSRM_CD": "room_seq", "GSRM_NM": "room_name", "GSRM_IMAGE_URL": "room_image_url", "GSRM_DC": "room_description"})
room_type

,stay_seq,stay_name,room_seq,room_name,room_description
0,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -..."
1,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -..."
2,10050611,태안 청포대하와이펜션,535476,106호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 가능, -..."
3,10050392,논산 좋은돔펜션,535477,나무2호실,"인원 추가 정보, - 인원 : 기준 5명 / 최대 7명, - 인원추가 : 가능, -..."
4,10050611,태안 청포대하와이펜션,535478,107호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 가능, -..."
...,...,...,...,...,...
207802,3001269,크라운 하버호텔 부산,450209,디럭스 트윈 하버뷰(당일특가),"9평, 싱글 침대 2개,2인 기준 / 1인 추가비용 현장결제 / 최대 3인,에어컨,..."
207803,3001269,크라운 하버호텔 부산,450210,주니어 스위트 시티뷰(당일특가),"18평, 더블 1 + 싱글 1,3인 기준 / 1인 추가비용 현장결제 / 최대 4인,..."
207804,3001269,크라운 하버호텔 부산,450211,"패밀리 스위트 룸(당일특가, 베드타입 지정 불가 체크인 시 현장 랜덤배정)","패밀리 스위트 룸(※베드타입 체크인시 배정),18평, 침대형 (2 Double) ..."
207805,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ..."
207806,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인..."

In [35]:
stay_type = pd.read_csv("YN_LDGS_STAYNG_TY_202312.csv").rename(columns={"LDGS_CD": "stay_seq", "LDGS_NM": "stay_name", "LDGS_TY_CD": "stay_type", "LDGMNT_TY_NM": "stay_type_name"})[["stay_seq", "stay_type", "stay_type_name"]]
stay_type

         stay_seq  stay_type stay_type_name
0           23184          1          Motel
1           23192          1          Motel
2           23197          1          Motel
3           23204          1          Motel
4           23206          1          Motel
...           ...        ...            ...
27023  1000130887          3        Pension
27024  1000130888          3        Pension
27025  1000130890          3        Pension
27026  1000130915          3        Pension
27027  1000130918          3        Pension

[27028 rows x 3 columns]

In [36]:
join_stay = pd.merge(room_type, stay_type, on=["stay_seq"], how="inner")
stay = pd.merge(join_stay, photo, on=["stay_seq", "room_seq"], how="inner")
stay

,stay_seq,stay_name,room_seq,room_name,room_description,stay_type,stay_type_name,room_image_url,image_seq
0,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,Pension,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,1
1,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,Pension,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,2
2,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,Pension,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,3
3,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,Pension,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,1
4,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,Pension,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,2
...,...,...,...,...,...,...,...,...,...
577397,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,Pension,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,2
577398,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,Pension,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,3
577399,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,Hotel,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,1
577400,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,Hotel,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,2
577401,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,Hotel,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,3

In [37]:
stay["stay_type_name"] = stay["stay_type_name"].str.replace("Pension", "펜션").str.replace("Motel", "모텔").str.replace("Hotel", "호텔").str.replace("GuestHouse", "게스트하우스")
stay["stay_type_name"]

0         펜션
1         펜션
2         펜션
3         펜션
4         펜션
          ..
577397    펜션
577398    펜션
577399    호텔
577400    호텔
577401    호텔
Name: stay_type_name, Length: 577402, dtype: object

In [38]:
stay["stay_type_name"].value_counts()

stay_type_name
펜션        291141
모텔        152872
호텔        116591
게스트하우스     16798
Name: count, dtype: int64

In [39]:
stay

,stay_seq,stay_name,room_seq,room_name,room_description,stay_type,stay_type_name,room_image_url,image_seq
0,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,1
1,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,2
2,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,3
3,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,1
4,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,2
...,...,...,...,...,...,...,...,...,...
577397,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,2
577398,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,3
577399,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,1
577400,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,2
577401,3013542,울진 덕구온천리조트,450213,[대기예약] 스탠다드 35평,"35평, 룸3(온돌방1+더블침대방1)+거실1+욕실1+샤워실1+베란다,8인기준 / 인...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/23/21/630...,3

In [40]:
mask = (
    (stay["stay_name"].str.contains("펜션") & ~stay["stay_type_name"].str.contains("펜션")) |
    (stay["stay_name"].str.contains("호텔") & ~stay["stay_type_name"].str.contains("호텔")) |
    (stay["stay_name"].str.contains("게스트하우스") & ~stay["stay_type_name"].str.contains("게스트하우스")) |
    (stay["stay_name"].str.contains("모텔") & ~stay["stay_type_name"].str.contains("모텔")) |
    (~stay["stay_name"].str.contains("펜션") & stay["stay_type_name"].str.contains("펜션")) |
    (~stay["stay_name"].str.contains("호텔") & stay["stay_type_name"].str.contains("호텔")) |
    (~stay["stay_name"].str.contains("게스트하우스") & stay["stay_type_name"].str.contains("게스트하우스")) |
    (~stay["stay_name"].str.contains("모텔") & stay["stay_type_name"].str.contains("모텔"))
)
mask

0         False
1         False
2         False
3         False
4         False
          ...
577397    False
577398    False
577399     True
577400     True
577401     True
Length: 577402, dtype: bool

In [41]:
stay[~mask]

,stay_seq,stay_name,room_seq,room_name,room_description,stay_type,stay_type_name,room_image_url,image_seq
0,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,1
1,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,2
2,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,3
3,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,1
4,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,2
...,...,...,...,...,...,...,...,...,...
577394,3001269,크라운 하버호텔 부산,450211,"패밀리 스위트 룸(당일특가, 베드타입 지정 불가 체크인 시 현장 랜덤배정)","패밀리 스위트 룸(※베드타입 체크인시 배정),18평, 침대형 (2 Double) ...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/22/12/630...,2
577395,3001269,크라운 하버호텔 부산,450211,"패밀리 스위트 룸(당일특가, 베드타입 지정 불가 체크인 시 현장 랜덤배정)","패밀리 스위트 룸(※베드타입 체크인시 배정),18평, 침대형 (2 Double) ...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/22/12/630...,3
577396,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,1
577397,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,2
577398,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,3

In [42]:
filterd_stay = stay[~mask].reset_index(drop=True)
filterd_stay

,stay_seq,stay_name,room_seq,room_name,room_description,stay_type,stay_type_name,room_image_url,image_seq
0,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,1
1,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,2
2,10050611,태안 청포대하와이펜션,535474,105호,"인원 추가 정보, - 인원 : 기준 4명 / 최대 5명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/16/15/64d...,3
3,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,1
4,10050392,논산 좋은돔펜션,535475,나무1호실,"인원 추가 정보, - 인원 : 기준 6명 / 최대 8명, - 인원추가 : 가능, -...",3,펜션,https://yaimg.yanolja.com/v5/2023/08/03/16/64c...,2
...,...,...,...,...,...,...,...,...,...
308939,3001269,크라운 하버호텔 부산,450211,"패밀리 스위트 룸(당일특가, 베드타입 지정 불가 체크인 시 현장 랜덤배정)","패밀리 스위트 룸(※베드타입 체크인시 배정),18평, 침대형 (2 Double) ...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/22/12/630...,2
308940,3001269,크라운 하버호텔 부산,450211,"패밀리 스위트 룸(당일특가, 베드타입 지정 불가 체크인 시 현장 랜덤배정)","패밀리 스위트 룸(※베드타입 체크인시 배정),18평, 침대형 (2 Double) ...",2,호텔,https://yaimg.yanolja.com/v5/2022/08/22/12/630...,3
308941,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,1
308942,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,2
308943,1000118004,서귀포 써니빌리지펜션,450212,B동 스위트,"인원 추가 정보, - 인원 : 기준 4명 / 최대 8명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/09/27/17/651...,3

### 각 숙소당 룸 개수 3개 이상만

In [43]:
filterd_stay = filterd_stay.groupby(["stay_seq", "room_seq"]).filter(lambda x: len(x) >= 3).sort_values(["stay_seq", "room_seq"]).reset_index(drop=True)
filterd_stay

,stay_seq,stay_name,room_seq,room_name,room_description,stay_type,stay_type_name,room_image_url,image_seq
0,23815,대전 유성 모텔나인,288549,스탠다드,NaN,1,모텔,https://yaimg.yanolja.com/v5/2020/04/23/10/5ea...,1
1,23815,대전 유성 모텔나인,288549,스탠다드,NaN,1,모텔,https://yaimg.yanolja.com/v5/2020/02/03/18/5e3...,2
2,23815,대전 유성 모텔나인,288549,스탠다드,NaN,1,모텔,https://yaimg.yanolja.com/v5/2020/02/03/18/5e3...,3
3,23815,대전 유성 모텔나인,288551,디럭스,NaN,1,모텔,https://yaimg.yanolja.com/v5/2020/02/03/18/5e3...,1
4,23815,대전 유성 모텔나인,288551,디럭스,NaN,1,모텔,https://yaimg.yanolja.com/v5/2020/02/03/18/5e3...,2
...,...,...,...,...,...,...,...,...,...
298063,1000130918,포항 엔소쿠펜션,617969,302호 ふゆ,"인원 추가 정보, - 인원 : 기준 2명 / 최대 3명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/12/29/11/658...,2
298064,1000130918,포항 엔소쿠펜션,617969,302호 ふゆ,"인원 추가 정보, - 인원 : 기준 2명 / 최대 3명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/12/29/11/658...,3
298065,1000130918,포항 엔소쿠펜션,617970,202호 なつ,"인원 추가 정보, - 인원 : 기준 2명 / 최대 3명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/12/29/11/658...,1
298066,1000130918,포항 엔소쿠펜션,617970,202호 なつ,"인원 추가 정보, - 인원 : 기준 2명 / 최대 3명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/12/29/11/658...,2
298067,1000130918,포항 엔소쿠펜션,617970,202호 なつ,"인원 추가 정보, - 인원 : 기준 2명 / 최대 3명, - 인원추가 : 불가능, ...",3,펜션,https://yaimg.yanolja.com/v5/2023/12/29/11/658...,3

In [44]:
filterd_stay["stay_type_name"].value_counts()

stay_type_name
펜션        223161
호텔         66819
게스트하우스      5547
모텔          2541
Name: count, dtype: int64

In [45]:
hotel = filterd_stay[filterd_stay["stay_type_name"] == "호텔"].reset_index(drop=True)
motel = filterd_stay[filterd_stay["stay_type_name"] == "모텔"].reset_index(drop=True)
guest_house = filterd_stay[filterd_stay["stay_type_name"] == "게스트하우스"].reset_index(drop=True)
pension = filterd_stay[filterd_stay["stay_type_name"] == "펜션"].reset_index(drop=True)

In [260]:
stay_info = pd.read_csv("stay_info.csv", )[["stay_seq", "stay_name"]]
stay_info

     stay_seq                stay_name
0           1                   카이 호스텔
1           2                 돈내코힐 리조트
2           3                    바다해호텔
3           4  먼나머루휴양펜션(제주편백한옥펜션 먼나머루)
4           5                  쉴띠 휴양펜션
..        ...                      ...
209       211                 제주 지삿개풍경
210       212                 까델아스 리조트
211       213                    늘송파크텔
212       214                  제주 추억여행
213        84              월드와이드 유스호스텔

[214 rows x 2 columns]

In [261]:
import random
def assign_stay_type(stay_name):
    if '모텔' in stay_name:
        return 1
    elif '호텔' in stay_name:
        return 2
    elif '펜션' in stay_name:
        return 3
    elif '게스트' in stay_name:
        return 4
    elif '텔' in stay_name:
        return random.choice([1, 2])
    else:
        return random.choice([1, 2, 3, 4])

stay_info['stay_type'] = stay_info['stay_name'].apply(assign_stay_type)
stay_info

     stay_seq                stay_name  stay_type
0           1                   카이 호스텔          2
1           2                 돈내코힐 리조트          2
2           3                    바다해호텔          2
3           4  먼나머루휴양펜션(제주편백한옥펜션 먼나머루)          3
4           5                  쉴띠 휴양펜션          3
..        ...                      ...        ...
209       211                 제주 지삿개풍경          4
210       212                 까델아스 리조트          3
211       213                    늘송파크텔          1
212       214                  제주 추억여행          3
213        84              월드와이드 유스호스텔          2

[214 rows x 3 columns]

In [138]:
motel_image = motel.groupby('room_seq').agg({
    'room_name': 'first',  # 첫 번째 room_name을 사용
    'room_description': 'first',  # 첫 번째 room_description을 사용
    'room_image_url': lambda x: list(x)  # 모든 room_image_url을 리스트로 모음
}).reset_index()

hotel_image = hotel.groupby('room_seq').agg({
    'room_name': 'first',  # 첫 번째 room_name을 사용
    'room_description': 'first',  # 첫 번째 room_description을 사용
    'room_image_url': lambda x: list(x)  # 모든 room_image_url을 리스트로 모음
}).reset_index()

guest_image = guest_house.groupby('room_seq').agg({
    'room_name': 'first',  # 첫 번째 room_name을 사용
    'room_description': 'first',  # 첫 번째 room_description을 사용
    'room_image_url': lambda x: list(x)  # 모든 room_image_url을 리스트로 모음
}).reset_index()

pension_image = pension.groupby('room_seq').agg({
    'room_name': 'first',  # 첫 번째 room_name을 사용
    'room_description': 'first',  # 첫 번째 room_description을 사용
    'room_image_url': lambda x: list(x)  # 모든 room_image_url을 리스트로 모음
}).reset_index()

In [143]:
motel_image

,room_seq,room_name,room_description,room_image_url
0,5312,"스탠다드 더블(욕조x)(대형TV 구비, 전 객실 넷플릭스시청가능)",None,[https://yaimg.yanolja.com/v5/2023/11/06/14/65...
1,6337,"일반실(최신 고사양 게이밍 1PC, 넷플릭스이용가능(개인ID))",None,[https://yaimg.yanolja.com/resize/place/v4/201...
2,6339,"VVIP(최신 고사양 게이밍2PC, 오션뷰, 넷플릭스이용가능(개인ID))",오션뷰가 안보이는 객실 입니다 .,[https://yaimg.yanolja.com/resize/place/v4/201...
3,6818,특실,None,[https://yaimg.yanolja.com/v5/2018/10/22/09/5b...
4,6819,일반실,None,[https://yaimg.yanolja.com/v5/2018/10/22/09/5b...
...,...,...,...,...
842,614098,온돌,None,[https://yaimg.yanolja.com/v5/2023/12/05/14/65...
843,614099,특실,None,[https://yaimg.yanolja.com/v5/2023/12/05/14/65...
844,615609,트리플 / 싱글+싱글+싱글,None,[https://yaimg.yanolja.com/v5/2023/12/12/16/65...
845,615974,2층침대룸,None,[https://yaimg.yanolja.com/v5/2023/12/14/16/65...
846,618244,"OTT룸(넷플릭스,티빙,왓챠,디즈니,유튜브 시청가능)",None,[https://yaimg.yanolja.com/v5/2023/12/27/17/65...

In [262]:
motel_room_list = [("일반실", 45000, 55000), ("준특실", 56000, 60000), ("특실", 61000, 70000), ("VIP실", 71000, 80000), ("VVIP실", 81000, 100000)]
hotel_room_list = [("스탠다드", 55000, 65000), ("트윈", 66000, 75000), ("스위트", 76000, 85000), ("디럭스", 86000, 100000), ("프리미엄", 120000, 150000)]
pension_room_list = [("일반실", 70000, 80000), ("가족실", 100000, 120000)]
guest_room_list = [("도미토리 남성", 35000, 55000), ("도미토리 여성", 56000, 65000), ("단체룸", 65000, 75000)]

def random_generate_room(stay_type):
    result = []

    if stay_type == 1:
        room_count = random.randrange(1, 6)
        seleted_list = random.sample(motel_room_list, room_count)
    elif stay_type == 2:
        room_count = random.randrange(1, 6)
        seleted_list = random.sample(hotel_room_list, room_count)
    elif stay_type == 3:
        room_count = random.randrange(1, 3)
        seleted_list = random.sample(pension_room_list, room_count)
    else:
        room_count = random.randrange(1, 4)
        seleted_list = random.sample(guest_room_list, room_count)
    
    for room_type, min_money, max_money in seleted_list:
        random_int = random.randint(min_money, max_money)
        modified_int = (random_int // 1000) * 1000
        
        result.append((room_type, modified_int))
    result.sort(key=lambda x: x[1])
    return result

In [263]:
random_generate_room(1)

[('특실', 65000)]

In [264]:
stay_info["room_data"] = stay_info["stay_type"].apply(random_generate_room)
stay_info

,stay_seq,stay_name,stay_type,room_data
0,1,카이 호스텔,2,"[(스위트, 84000)]"
1,2,돈내코힐 리조트,2,"[(스탠다드, 62000), (스위트, 76000)]"
2,3,바다해호텔,2,"[(트윈, 70000), (스위트, 79000), (디럭스, 90000)]"
3,4,먼나머루휴양펜션(제주편백한옥펜션 먼나머루),3,"[(일반실, 70000)]"
4,5,쉴띠 휴양펜션,3,"[(일반실, 70000), (가족실, 116000)]"
...,...,...,...,...
209,211,제주 지삿개풍경,4,"[(도미토리 여성, 59000), (단체룸, 67000)]"
210,212,까델아스 리조트,3,"[(일반실, 79000), (가족실, 116000)]"
211,213,늘송파크텔,1,"[(특실, 69000), (VIP실, 76000)]"
212,214,제주 추억여행,3,"[(일반실, 75000), (가족실, 108000)]"
213,84,월드와이드 유스호스텔,2,"[(스위트, 82000), (디럭스, 99000), (프리미엄, 130000)]"

In [265]:
stay_info = stay_info.explode("room_data").reset_index(drop=True)
stay_info

     stay_seq    stay_name  stay_type       room_data
0           1       카이 호스텔          2    (스위트, 84000)
1           2     돈내코힐 리조트          2   (스탠다드, 62000)
2           2     돈내코힐 리조트          2    (스위트, 76000)
3           3        바다해호텔          2     (트윈, 70000)
4           3        바다해호텔          2    (스위트, 79000)
..        ...          ...        ...             ...
510       214      제주 추억여행          3    (일반실, 75000)
511       214      제주 추억여행          3   (가족실, 108000)
512        84  월드와이드 유스호스텔          2    (스위트, 82000)
513        84  월드와이드 유스호스텔          2    (디럭스, 99000)
514        84  월드와이드 유스호스텔          2  (프리미엄, 130000)

[515 rows x 4 columns]

In [266]:
stay_info[['room_range', 'money_range']] = pd.DataFrame(stay_info['room_data'].tolist(), index=stay_info.index)
stay_info

     stay_seq    stay_name  stay_type       room_data room_range  money_range
0           1       카이 호스텔          2    (스위트, 84000)        스위트        84000
1           2     돈내코힐 리조트          2   (스탠다드, 62000)       스탠다드        62000
2           2     돈내코힐 리조트          2    (스위트, 76000)        스위트        76000
3           3        바다해호텔          2     (트윈, 70000)         트윈        70000
4           3        바다해호텔          2    (스위트, 79000)        스위트        79000
..        ...          ...        ...             ...        ...          ...
510       214      제주 추억여행          3    (일반실, 75000)        일반실        75000
511       214      제주 추억여행          3   (가족실, 108000)        가족실       108000
512        84  월드와이드 유스호스텔          2    (스위트, 82000)        스위트        82000
513        84  월드와이드 유스호스텔          2    (디럭스, 99000)        디럭스        99000
514        84  월드와이드 유스호스텔          2  (프리미엄, 130000)       프리미엄       130000

[515 rows x 6 columns]

In [268]:
stay_info = stay_info.drop(columns="room_data")
stay_info

     stay_seq    stay_name  stay_type room_range  money_range
0           1       카이 호스텔          2        스위트        84000
1           2     돈내코힐 리조트          2       스탠다드        62000
2           2     돈내코힐 리조트          2        스위트        76000
3           3        바다해호텔          2         트윈        70000
4           3        바다해호텔          2        스위트        79000
..        ...          ...        ...        ...          ...
510       214      제주 추억여행          3        일반실        75000
511       214      제주 추억여행          3        가족실       108000
512        84  월드와이드 유스호스텔          2        스위트        82000
513        84  월드와이드 유스호스텔          2        디럭스        99000
514        84  월드와이드 유스호스텔          2       프리미엄       130000

[515 rows x 5 columns]

In [273]:
stay_info

     stay_seq    stay_name  stay_type room_range  money_range
0           1       카이 호스텔          2        스위트        84000
1           2     돈내코힐 리조트          2       스탠다드        62000
2           2     돈내코힐 리조트          2        스위트        76000
3           3        바다해호텔          2         트윈        70000
4           3        바다해호텔          2        스위트        79000
..        ...          ...        ...        ...          ...
510       214      제주 추억여행          3        일반실        75000
511       214      제주 추억여행          3        가족실       108000
512        84  월드와이드 유스호스텔          2        스위트        82000
513        84  월드와이드 유스호스텔          2        디럭스        99000
514        84  월드와이드 유스호스텔          2       프리미엄       130000

[515 rows x 5 columns]

In [274]:
motel_index = 0
hotel_index = 0
guest_index = 0
pension_index = 0

def random_generate_room_image(stay_type):
    global motel_index
    global hotel_index
    global guest_index
    global pension_index
    if stay_type == 1:
        image_list = motel_image.loc[motel_index, "room_image_url"]
        motel_index += 1
    elif stay_type == 2:
        image_list = hotel_image.loc[hotel_index, "room_image_url"]
        hotel_index += 1
    elif stay_type == 3:
        image_list = guest_image.loc[guest_index, "room_image_url"]
        guest_index += 1
    else:
        image_list = pension_image.loc[pension_index, "room_image_url"]
        pension_index += 1
    return image_list

In [275]:
stay_info["room_image_url_list"] = stay_info["stay_type"].apply(random_generate_room_image)
stay_info

,stay_seq,stay_name,stay_type,room_range,money_range,room_image_url_list
0,1,카이 호스텔,2,스위트,84000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...
1,2,돈내코힐 리조트,2,스탠다드,62000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...
2,2,돈내코힐 리조트,2,스위트,76000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...
3,3,바다해호텔,2,트윈,70000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...
4,3,바다해호텔,2,스위트,79000,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...
...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,75000,[https://yaimg.yanolja.com/resize/place/v4/201...
511,214,제주 추억여행,3,가족실,108000,[https://yaimg.yanolja.com/resize/place/v4/201...
512,84,월드와이드 유스호스텔,2,스위트,82000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...
513,84,월드와이드 유스호스텔,2,디럭스,99000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...
514,84,월드와이드 유스호스텔,2,프리미엄,130000,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...

In [276]:
print(motel_index, hotel_index, guest_index, pension_index)

67 315 96 37

숙소하나당 룸 상세이미지를 업데이트 하는 코드

[모텔]
일반실
준특실
특실
VIP실
VVIP실

[호텔]
'스탠다드'
'트윈'
'스위트'
'디럭스'
'프리미엄'
-- 조식 

[펜션]
일반실
가족실

[게스트하우스]
["도미토리 남성", "도미토리 여성", "단체룸"]
-- 단체 파티 여부

--- 편의시설
넷플릭스
웨이브
애플TV
디즈니
티빙
BBQ


스파
화장실
욕조
비데

공기청정기
스타일러
고사양 게이밍PC
침대개수
안마의자
스마트TV
빔프로젝트

노래방
금연룸
이벤트룸

애견동반

비대면 키오스크

In [357]:
ott_list = ["넷플릭스", "웨이브", "애플TV", "디즈니", "티빙"]
toilet_list = ["스파", "욕조", "비데"]
room_option_list = ["공기청정기", "스타일러", "고사양 게이밍PC", "안마의자", "스마트 TV", "빔 프로젝트", "노래방 기기"]
special_room_list = ["금연룸", "이벤트룸", "조식 배달 서비스"]

global_stay_seq = 0
global_ott_set = set()
global_toilet_set = set()
global_room_option_set = set()
global_special_room_list = set()

def random_generate_room_option(stay_seq):
    global global_stay_seq
    global global_ott_set
    global global_toilet_set
    global global_room_option_set
    global global_special_room_list

    ott_count = random.randrange(1, 3)
    toilet_count = random.randrange(1, 2)
    room_option_count = random.randrange(1, 4)
    special_room_count = random.randrange(1, 2)

    ott_select = set(random.sample(ott_list, ott_count))
    toilet_select = set(random.sample(toilet_list, toilet_count))
    room_select = set(random.sample(room_option_list, room_option_count))
    special_room_select = set(random.sample(special_room_list, special_room_count))

    if global_stay_seq == stay_seq:
        global_ott_set = global_ott_set | ott_select
        global_toilet_set = global_toilet_set | toilet_select
        global_room_option_set = global_room_option_set | room_select
        global_special_room_list = global_special_room_list | special_room_select
    else:
        global_stay_seq = stay_seq
        global_ott_set = ott_select
        global_toilet_set = toilet_select
        global_room_option_set = room_select
        global_special_room_list = special_room_select

    a = sorted(list(global_ott_set))
    b = sorted(list(global_toilet_set))
    c = sorted(list(global_room_option_set))
    d = sorted(list(global_special_room_list))

    return pd.Series([a, b, c, d])

In [358]:
stay_info[["ott_service", "toilet_option", "room_option", "special_room_option"]] = stay_info["stay_seq"].apply(random_generate_room_option)
stay_info

,stay_seq,stay_name,stay_type,room_range,money_range,room_image_url_list,ott_service,toilet_option,room_option,special_room_option
0,1,카이 호스텔,2,스위트,84000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,[티빙],[욕조],"[공기청정기, 빔 프로젝트]",[조식 배달 서비스]
1,2,돈내코힐 리조트,2,스탠다드,62000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,[애플TV],[스파],"[고사양 게이밍PC, 스타일러]",[이벤트룸]
2,2,돈내코힐 리조트,2,스위트,76000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,"[넷플릭스, 애플TV, 웨이브]","[스파, 욕조]","[고사양 게이밍PC, 스마트 TV, 스타일러, 안마의자]","[금연룸, 이벤트룸]"
3,3,바다해호텔,2,트윈,70000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]",[금연룸]
4,3,바다해호텔,2,스위트,79000,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...,"[넷플릭스, 애플TV, 웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]","[금연룸, 조식 배달 서비스]"
...,...,...,...,...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,75000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 티빙]",[욕조],"[노래방 기기, 스마트 TV]",[이벤트룸]
511,214,제주 추억여행,3,가족실,108000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 웨이브, 티빙]","[스파, 욕조]","[노래방 기기, 빔 프로젝트, 스마트 TV, 안마의자]","[금연룸, 이벤트룸]"
512,84,월드와이드 유스호스텔,2,스위트,82000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,[티빙],[스파],"[노래방 기기, 스마트 TV]",[금연룸]
513,84,월드와이드 유스호스텔,2,디럭스,99000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스마트 TV]",[금연룸]
514,84,월드와이드 유스호스텔,2,프리미엄,130000,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...,"[웨이브, 티빙]",[스파],"[고사양 게이밍PC, 공기청정기, 노래방 기기, 스마트 TV]","[금연룸, 이벤트룸]"

In [362]:
stay_info.iloc[0, 5]

['https://yaimg.yanolja.com/v5/2023/05/26/20/6471184f986532.50653914.jpg',
 'https://yaimg.yanolja.com/v5/2023/05/26/20/6471184f8cee50.28646395.jpg',
 'https://yaimg.yanolja.com/v5/2023/05/26/20/6471184f9a39d1.35712253.jpg']

In [364]:
stay_info = stay_info.rename(columns={"room_range": "room_name", "money_range": "room_price"})
stay_info

,stay_seq,stay_name,stay_type,room_name,room_price,room_image_url_list,ott_service,toilet_option,room_option,special_room_option
0,1,카이 호스텔,2,스위트,84000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,[티빙],[욕조],"[공기청정기, 빔 프로젝트]",[조식 배달 서비스]
1,2,돈내코힐 리조트,2,스탠다드,62000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,[애플TV],[스파],"[고사양 게이밍PC, 스타일러]",[이벤트룸]
2,2,돈내코힐 리조트,2,스위트,76000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,"[넷플릭스, 애플TV, 웨이브]","[스파, 욕조]","[고사양 게이밍PC, 스마트 TV, 스타일러, 안마의자]","[금연룸, 이벤트룸]"
3,3,바다해호텔,2,트윈,70000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]",[금연룸]
4,3,바다해호텔,2,스위트,79000,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...,"[넷플릭스, 애플TV, 웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]","[금연룸, 조식 배달 서비스]"
...,...,...,...,...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,75000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 티빙]",[욕조],"[노래방 기기, 스마트 TV]",[이벤트룸]
511,214,제주 추억여행,3,가족실,108000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 웨이브, 티빙]","[스파, 욕조]","[노래방 기기, 빔 프로젝트, 스마트 TV, 안마의자]","[금연룸, 이벤트룸]"
512,84,월드와이드 유스호스텔,2,스위트,82000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,[티빙],[스파],"[노래방 기기, 스마트 TV]",[금연룸]
513,84,월드와이드 유스호스텔,2,디럭스,99000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스마트 TV]",[금연룸]
514,84,월드와이드 유스호스텔,2,프리미엄,130000,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...,"[웨이브, 티빙]",[스파],"[고사양 게이밍PC, 공기청정기, 노래방 기기, 스마트 TV]","[금연룸, 이벤트룸]"

In [388]:
def random_generate_room_count(stay_seq):
    return random.randrange(1, 10)

In [389]:
stay_info["room_available_count"] = stay_info["stay_seq"].apply(random_generate_room_count)
stay_info

,stay_seq,stay_name,stay_type,room_name,room_price,room_image_url_list,ott_service,toilet_option,room_option,special_room_option,room_available_count
0,1,카이 호스텔,2,스위트,84000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,[티빙],[욕조],"[공기청정기, 빔 프로젝트]",[조식 배달 서비스],9
1,2,돈내코힐 리조트,2,스탠다드,62000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,[애플TV],[스파],"[고사양 게이밍PC, 스타일러]",[이벤트룸],3
2,2,돈내코힐 리조트,2,스위트,76000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,"[넷플릭스, 애플TV, 웨이브]","[스파, 욕조]","[고사양 게이밍PC, 스마트 TV, 스타일러, 안마의자]","[금연룸, 이벤트룸]",3
3,3,바다해호텔,2,트윈,70000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]",[금연룸],6
4,3,바다해호텔,2,스위트,79000,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...,"[넷플릭스, 애플TV, 웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]","[금연룸, 조식 배달 서비스]",4
...,...,...,...,...,...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,75000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 티빙]",[욕조],"[노래방 기기, 스마트 TV]",[이벤트룸],1
511,214,제주 추억여행,3,가족실,108000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 웨이브, 티빙]","[스파, 욕조]","[노래방 기기, 빔 프로젝트, 스마트 TV, 안마의자]","[금연룸, 이벤트룸]",5
512,84,월드와이드 유스호스텔,2,스위트,82000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,[티빙],[스파],"[노래방 기기, 스마트 TV]",[금연룸],7
513,84,월드와이드 유스호스텔,2,디럭스,99000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스마트 TV]",[금연룸],3
514,84,월드와이드 유스호스텔,2,프리미엄,130000,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...,"[웨이브, 티빙]",[스파],"[고사양 게이밍PC, 공기청정기, 노래방 기기, 스마트 TV]","[금연룸, 이벤트룸]",8

In [370]:
stay_info.dtypes

stay_seq                int64
stay_name              object
stay_type               int64
room_name              object
room_price              int64
room_image_url_list    object
ott_service            object
toilet_option          object
room_option            object
special_room_option    object
dtype: object

In [365]:
stay_info.to_csv("room_info.csv")

In [377]:
room_type = pd.read_csv("data_generate/room_type.csv")
room_type

    stay_type_id  room_type_id room_type_name
0              1             1            일반실
1              1             2            준특실
2              1             3             특실
3              1             4           VIP실
4              1             5          VVIP실
5              2             1           스탠다드
6              2             2             트윈
7              2             3            스위트
8              2             4            디럭스
9              2             5           프리미엄
10             3             1            일반실
11             3             2            가족실
12             4             1        도미토리 남성
13             4             2        도미토리 여성
14             4             3            단체룸

In [379]:
room_type = room_type.rename(columns={"stay_type_id": "stay_type", "room_type_id": "room_type", "room_type_name": "room_name"})
room_type

    stay_type  room_type room_name
0           1          1       일반실
1           1          2       준특실
2           1          3        특실
3           1          4      VIP실
4           1          5     VVIP실
5           2          1      스탠다드
6           2          2        트윈
7           2          3       스위트
8           2          4       디럭스
9           2          5      프리미엄
10          3          1       일반실
11          3          2       가족실
12          4          1   도미토리 남성
13          4          2   도미토리 여성
14          4          3       단체룸

In [391]:
result = pd.merge(stay_info, room_type, on=["stay_type", "room_name"], how="inner")
result

,stay_seq,stay_name,stay_type,room_name,room_price,room_image_url_list,ott_service,toilet_option,room_option,special_room_option,room_available_count,room_type
0,1,카이 호스텔,2,스위트,84000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,[티빙],[욕조],"[공기청정기, 빔 프로젝트]",[조식 배달 서비스],9,3
1,2,돈내코힐 리조트,2,스탠다드,62000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,[애플TV],[스파],"[고사양 게이밍PC, 스타일러]",[이벤트룸],3,1
2,2,돈내코힐 리조트,2,스위트,76000,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,"[넷플릭스, 애플TV, 웨이브]","[스파, 욕조]","[고사양 게이밍PC, 스마트 TV, 스타일러, 안마의자]","[금연룸, 이벤트룸]",3,3
3,3,바다해호텔,2,트윈,70000,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]",[금연룸],6,2
4,3,바다해호텔,2,스위트,79000,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...,"[넷플릭스, 애플TV, 웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]","[금연룸, 조식 배달 서비스]",4,3
...,...,...,...,...,...,...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,75000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 티빙]",[욕조],"[노래방 기기, 스마트 TV]",[이벤트룸],1,1
511,214,제주 추억여행,3,가족실,108000,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 웨이브, 티빙]","[스파, 욕조]","[노래방 기기, 빔 프로젝트, 스마트 TV, 안마의자]","[금연룸, 이벤트룸]",5,2
512,84,월드와이드 유스호스텔,2,스위트,82000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,[티빙],[스파],"[노래방 기기, 스마트 TV]",[금연룸],7,3
513,84,월드와이드 유스호스텔,2,디럭스,99000,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스마트 TV]",[금연룸],3,4
514,84,월드와이드 유스호스텔,2,프리미엄,130000,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...,"[웨이브, 티빙]",[스파],"[고사양 게이밍PC, 공기청정기, 노래방 기기, 스마트 TV]","[금연룸, 이벤트룸]",8,5

In [382]:
result.columns

Index(['stay_seq', 'stay_name', 'stay_type', 'room_name', 'room_price',
       'room_image_url_list', 'ott_service', 'toilet_option', 'room_option',
       'special_room_option', 'room_type'],
      dtype='object')

In [392]:
result = result[["stay_seq", "stay_name", "stay_type", "room_name", "room_type", "room_price", "room_available_count", "room_image_url_list", "ott_service", "toilet_option", "room_option", "special_room_option"]]
result

,stay_seq,stay_name,stay_type,room_name,room_type,room_price,room_available_count,room_image_url_list,ott_service,toilet_option,room_option,special_room_option
0,1,카이 호스텔,2,스위트,3,84000,9,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,[티빙],[욕조],"[공기청정기, 빔 프로젝트]",[조식 배달 서비스]
1,2,돈내코힐 리조트,2,스탠다드,1,62000,3,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,[애플TV],[스파],"[고사양 게이밍PC, 스타일러]",[이벤트룸]
2,2,돈내코힐 리조트,2,스위트,3,76000,3,[https://yaimg.yanolja.com/v5/2023/05/26/21/64...,"[넷플릭스, 애플TV, 웨이브]","[스파, 욕조]","[고사양 게이밍PC, 스마트 TV, 스타일러, 안마의자]","[금연룸, 이벤트룸]"
3,3,바다해호텔,2,트윈,2,70000,6,[https://yaimg.yanolja.com/v5/2023/05/26/20/64...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]",[금연룸]
4,3,바다해호텔,2,스위트,3,79000,4,[https://yaimg.yanolja.com/v5/2022/10/12/11/63...,"[넷플릭스, 애플TV, 웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스타일러]","[금연룸, 조식 배달 서비스]"
...,...,...,...,...,...,...,...,...,...,...,...,...
510,214,제주 추억여행,3,일반실,1,75000,1,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 티빙]",[욕조],"[노래방 기기, 스마트 TV]",[이벤트룸]
511,214,제주 추억여행,3,가족실,2,108000,5,[https://yaimg.yanolja.com/resize/place/v4/201...,"[넷플릭스, 웨이브, 티빙]","[스파, 욕조]","[노래방 기기, 빔 프로젝트, 스마트 TV, 안마의자]","[금연룸, 이벤트룸]"
512,84,월드와이드 유스호스텔,2,스위트,3,82000,7,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,[티빙],[스파],"[노래방 기기, 스마트 TV]",[금연룸]
513,84,월드와이드 유스호스텔,2,디럭스,4,99000,3,[https://yaimg.yanolja.com/v5/2022/09/12/10/63...,"[웨이브, 티빙]",[스파],"[공기청정기, 노래방 기기, 스마트 TV]",[금연룸]
514,84,월드와이드 유스호스텔,2,프리미엄,5,130000,8,[https://yaimg.yanolja.com/v5/2022/08/31/11/63...,"[웨이브, 티빙]",[스파],"[고사양 게이밍PC, 공기청정기, 노래방 기기, 스마트 TV]","[금연룸, 이벤트룸]"

In [393]:
result.to_csv("/data_generate/room_info")